<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- namespace에는 구현인터페이스의 위치가 들어감 -->
  <!-- mybatis스캔을 통해서 인터페이스의 경로를 읽도록 선언-->
  <mapper namespace="com.simple.test.mapper.TestMapper">
  	<!-- id속성에는 인터페이스의 메서드명을 적는다 -->
  	<select id="getTime" resultType="string">
  		select sysdate from dual
  	</select>
  	
  	<!-- resultType에는 반환받을 VO의 경로가 들어감 (com.simple.command.ScoreVO)-->
  	<!-- 마이바티스 설정시 단축명으로 적용가능(mybatisConfig.xml에 있다) -->
  	<select id="getScore" resultType="ScoreVO">
  		select * from score
  	</select>
  	
  	<!-- 단일값은 인터페이스 매개변수명을 따라감 -->
  	<insert id="insertOne">
  		insert into score(num, name)
  		values(score_seq.nextval, #{name})
  	</insert>
  	<!-- 다중값의 전달은 vo의 setter명을 따라감 -->
  	<insert id="insertTwo">
  		insert into score
  		values(score_seq.nextval, #{name}, #{kor}, #{eng}, #{math})
  	</insert>
  	<!-- 다중값의 전달 map -->
   	<insert id="insertThree">
  		insert into score
  		values(score_seq.nextval, #{name}, #{kor}, #{eng}, #{math})
  	</insert>
  	
  	<!-- 다중값의 전달 @Param -->
  	<insert id="insertFour">
  		insert into score(num,name,kor)
  		values(score_seq.nextval,#{aaa},#{bbb})
  	</insert>
  	
  	<!-- 단일조회 -->
  	<select id="selectOne" resultType="ScoreVO">
  		select * from score where num = #{num}
  	</select>
  	<!-- map을통한 단일 조회 -->
  	<select id="selectTwo" resultType="map">
  		select * from score where num = #{num}
  	</select>
  	<!-- map을 통한 다중조회 -->
  	<select id="selectThree" resultType="map">
  		select * from score 
  	</select>
  	
  	<update id="updateOne">
  		update score set name = #{name}, kor = #{kor}, eng = #{eng}, math = #{math}
  		where num = #{num}
  	</update>
  	
  	<delete id="deleteOne">
  		delete from score where num = #{num}
  	</delete>
  </mapper>